<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>movie-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Movie-Details:</h1>

<!-- ngIf displays ion card when a movie has been selected -->
<ion-card *ngIf="movie">

  <!-- Movie poster displayed by combining the base URL with the movie poster
   path using property binding and string concatenation.  -->
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">

  <ion-card-header>

    <!-- Displays the title of each movie -->
    <ion-card-title>{{ movie.title }}</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>

    <!-- Displays the overview of each movie -->
    <p>{{ movie.overview }}</p>

    <!-- Displays the release date of each movie -->
    <p><b>Release Date: {{ movie.release_date }}</b></p>

    <!-- Displays the rating of each movie -->
    <p><b>Rating: {{ movie.vote_average }}</b></p>
  </ion-card-content>

  </ion-card>

  <ion-button [routerLink]="['/home']">Go to homepage</ion-button>
  <ion-button [routerLink]="['/movie-details']">Go to movie details page</ion-button>
  <ion-button [routerLink]="['/details']">Go to details page</ion-button>
  <ion-button [routerLink]="['/favourites']">Go to favourites page</ion-button>
</ion-content>
