<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Displays the movie title as the page name -->
    <ion-title>{{movie.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Ion-card which displays the movie description and the add to favourites button -->
  <ion-card>
    <ion-card-content>
      <p>{{movie.overview}}</p>
      <br>
      <ion-button>Add to Favourites</ion-button>
    </ion-card-content>
  </ion-card>
  
  <h3>Cast:</h3>

  <!-- ngFor displays an ion-card for each cast member -->
  <ion-card *ngFor="let c of cast" (click)="clickPerson(c)">

    <!-- This displays the cast member image if profile_path exists. Without *ngIf it can show broken img links -->
    <img *ngIf="c.profile_path" [src]="'https://image.tmdb.org/t/p/w300' + c.profile_path">

    <!-- Shows character name and actor name -->
    <h3>{{c.character}}</h3>
    <p>{{c.name}}</p>
  </ion-card>

  <!-- Buttons for testing - REMOVE LATER -->
  <ion-button [routerLink]="['/home']">Go to homepage</ion-button>
  <ion-button [routerLink]="['/details']">Go to details page</ion-button>
  <ion-button [routerLink]="['/favourites']">Go to favourites page</ion-button>
</ion-content>
