<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourites</ion-title>

    <!-- Navigation button to bring the user to the homepage -->
    <ion-button slot="end" [routerLink]="['/home']" title="Home">
      <ion-icon name="home"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Heading for favourites list -->
  <h1>Your Favourites List:</h1>

  <!-- Placeholder text and button for if the favourites is empty - prompts user back to homepage with routerlink button -->
  <ion-button *ngIf="favourites.length > 0" color="danger" (click)="removeAll()">Remove All
    <ion-icon slot="start" name="trash-outline"></ion-icon>
  </ion-button>

  <h4 *ngIf="favourites.length == 0">Oops...It Looks Like Your Favourites List is Empty!</h4>
  <ion-button *ngIf="favourites.length == 0" color="warning" [routerLink]="['/home']">Head to Homepage to Find Some Movies</ion-button>

  <!-- ngFor structural directive creates a new ion card for every movie in the favourites array. -->
  <ion-card *ngFor="let movie of favourites">

  <!-- Movie poster displayed by combining the base URL with the movie poster
   path using property binding and string concatenation.  -->
  <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path">
  <ion-card-header>

    <!-- Displays the title of each movie -->
    <ion-card-title>{{ movie.title }}</ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <!-- Displays the overview of each movie -->
    <p>{{ movie.overview }}</p>

    <!-- Displays the release date of each movie -->
    <p><b>Release Date: {{ movie.release_date }}</b></p>

    <!-- Displays the rating of each movie -->
    <p><b>Rating: {{ movie.vote_average }}</b></p>

    <!-- Button which calls clickMovie() function in order to navigate user to the movie-details  -->
    <ion-button color="success" (click)="clickMovie(movie)" title="View Details">
      <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
    </ion-button>

    <!-- Button which calls removeMovie() function which deletes a single movie from favourites  -->
    <ion-button color="danger" (click)="remove(movie)" title="Remove from Favourites">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>

  </ion-card-content>

</ion-card>

</ion-content>

 