<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>This is the Favourites page</h1>
  <ion-button [routerLink]="['/home']">Go to homepage</ion-button>
  <ion-button [routerLink]="['/movie-details']">Go to movie details page</ion-button>
  <ion-button [routerLink]="['/details']">Go to details page</ion-button>
  <ion-button [routerLink]="['/favourites']">Go to favourites page</ion-button>
</ion-content>
