<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Displays student number on page -->
    <ion-title>
      G00485518
    </ion-title>

    <!-- Navigation button to the favourites page -->
    <ion-button color="danger" slot="end" [routerLink]="['/favourites']">
      <ion-icon name="heart"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Search bar using Ion-searchbar with two way data binding (ngModel). (keyup.enter) allows you to click the enter key to submit -->
  <ion-searchbar [(ngModel)]="searchString" placeholder="Search for a Movie..." (keyup.enter)="searchMovies()"></ion-searchbar>
  
  <!-- Search button using Ion-button with event binding to call searchMovies() on click -->
  <ion-button expand="block" (click)="searchMovies()">Search
    <ion-icon name="search-outline"></ion-icon>
  </ion-button>
  
  <!-- Homepage title using string interpolation to dynamically update title -->
  <h1>{{homePageTitle}}</h1>

<!-- ngFor structural directive creates a new ion card for every movie in the movies array. Calls movie details method when clicked. -->
<ion-card *ngFor="let movie of movies" button (click)="clickMovie(movie)">

  <!-- Movie poster displayed by combining the base URL with the movie poster
   path using property binding and string concatenation.  -->
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
  
  <ion-card-header>

    <!-- Displays the title of each movie -->
    <ion-card-title>{{ movie.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <!-- Displays the overview of each movie -->
    <p>{{ movie.overview }}</p>

    <!-- Displays the release date of each movie -->
    <p><b>Release Date: {{ movie.release_date }}</b></p>

    <!-- Displays the rating of each movie -->
    <p><b>Rating: {{ movie.vote_average }}</b></p>
  </ion-card-content>

</ion-card>
</ion-content>
