<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00485518
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Enter a Movie Name..."></ion-searchbar>
  <ion-button>Search</ion-button>

  <h1>Today's Trending Movies:</h1>

<ion-card *ngFor="let movie of movies">
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }} poster">
  <ion-card-header>
    <ion-card-title>{{ movie.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>{{ movie.overview }}</p>
    <p><b>Release Date: {{ movie.release_date }}</b></p>
    <p><b>Rating: {{ movie.vote_average }}</b></p>
  </ion-card-content>
</ion-card>
  <ion-button [routerLink]="['/home']">Go to homepage</ion-button>
  <ion-button [routerLink]="['/movie-details']">Go to movie details page</ion-button>
  <ion-button [routerLink]="['/details']">Go to details page</ion-button>
  <ion-button [routerLink]="['/favourites']">Go to favourites page</ion-button>
</ion-content>
