<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- *ngIf here only renders the title once personDetails has been loaded to avoid double clicking errors -->
    <ion-title *ngIf="personDetails">{{personDetails.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- *ngIf here prevents the card from rendering before the data is available -->
  <ion-card *ngIf="personDetails">

    <!-- This displays the persons image if profile_path exists. -->
    <img *ngIf="personDetails.profile_path" [src]="'https://image.tmdb.org/t/p/w300' + personDetails.profile_path">

    <!-- If profile_path does not exist. Show 'no image' -->
    <p *ngIf="!personDetails.profile_path">No Image</p>

    <!-- Displays a list of alternate names as ion items only if they exist in the array -->
    <ion-list *ngIf="personDetails.also_known_as">
      <ion-list-header>Also Known As:</ion-list-header>
      <ion-item *ngFor="let p of personDetails.also_known_as">{{p}}</ion-item>
    </ion-list>

    <!-- Displays their DOB if one is available -->
    <h5 *ngIf="personDetails.birthday">Born: {{personDetails.birthday}}</h5>

    <!-- Displays their DOD if one is available -->
    <h5 *ngIf="personDetails.deathday">Died: {{personDetails.deathday}}</h5>

    <!-- Displays their place of birth if one is available -->
    <h5 *ngIf="personDetails.place_of_birth">{{personDetails.place_of_birth}}</h5>

    <!-- Displays their biography if one is available -->
    <p *ngIf="personDetails.biography">{{personDetails.biography}}</p>

    <!-- Displays a list and total count of other movies this person was in as ion items if they are available. -->
    <ion-list *ngIf="otherMovies && otherMovies.length > 0">
      <ion-list-header>Other Movies ({{otherMovies.length}}):</ion-list-header>
      <ion-item *ngFor="let om of otherMovies" button (click)="openOtherMovie(om)">

        <!-- Display movie title -->
        <p>{{om.title}}</p> 

        <!-- Display movie poster if there is one available. Auto margin and width properties set to match the example on the project brief -->
        <img *ngIf="om.poster_path" [src]="'https://image.tmdb.org/t/p/w92' + om.poster_path" style="margin-left: auto; width: 50px;"> 
      </ion-item>
    </ion-list>

  </ion-card>
</ion-content>
