<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{personDetails.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <!-- This displays the persons image if profile_path exists. -->
    <img *ngIf="personDetails.profile_path" [src]="'https://image.tmdb.org/t/p/w300' + personDetails.profile_path">

    <!-- If profile_path does not exist. Show 'no image' -->
    <p *ngIf="!personDetails.profile_path">No Image</p>

    <!-- Displays a list of alternate names as ion items only if they exist in the array -->
    <ion-list *ngIf="personDetails.also_known_as">
      <ion-list-header>Also Known As:</ion-list-header>
      <ion-item *ngFor="let p of personDetails.also_known_as">{{p}}</ion-item>
    </ion-list>

    <!-- Displays their DOB if one is available -->
    <h5 *ngIf="personDetails.birthday">Born: {{personDetails.birthday}}</h5>

    <!-- Displays their DOD if one is available -->
    <h5 *ngIf="personDetails.deathday">Died: {{personDetails.deathday}}</h5>

    <!-- Displays their place of birth if one is available -->
    <h5 *ngIf="personDetails.place_of_birth">{{personDetails.place_of_birth}}</h5>

    <!-- Displays their biography if one is available -->
    <p *ngIf="personDetails.biography">{{personDetails.biography}}</p>

  </ion-card>

  <ion-button [routerLink]="['/home']">Go to homepage</ion-button>
  <ion-button [routerLink]="['/movie-details']">Go to movie details page</ion-button>
  <ion-button [routerLink]="['/details']">Go to details page</ion-button>
  <ion-button [routerLink]="['/favourites']">Go to favourites page</ion-button>
</ion-content>
